nav {
  display: flex;
  height: 120px;
  width: 100vw;
  background-color: #2b3499;
  color: #ffffff;
  justify-content: space-between;
  position: fixed;
}

nav span {
  font-family: "Bungee", sans-serif;
  margin: 0 1.5em 0 1.5em;
  align-self: center;
  font-size: 40px;
}
nav p {
  align-self: center;
  margin-right: 30px;
}
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
nav i {
  margin-top: -1rem;
  animation: moveUpDown 1.5s ease-in-out infinite;
  color: #ee5858;
}

nav i:hover {
  color: #ffffff;
}
.header-rigth {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
